{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <h1>ABOUT PAGE</h1>
            <p>This came from the templates: {{index .StringMap "test"}}</p>
            <p>
                {{if ne (index .StringMap "remote_ip") ""}}
                    Your remote Ip address is {{index .StringMap "remote_ip"}}
                {{else}}
                    Your ip is unknow. Go to  <a href="/">Home page</a> fisrt
                {{end}}
            </p>
        </div>
    </div>
{{end}}